/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700;800&family=Raleway:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}
